.site-footer-wrap {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}
.site-footer {
 padding-top: 10px;
 padding-bottom: 10px;
 background-color: #C1AEFC;
}
.site-footer h3 {
 margin-top: 10px;
 padding-top: 10px;
 border-top: 1px solid #F6F7C1;
 line-height: 1;
 color: #F6F7C1;
 width: 100%;
 text-align: center;
}